<mat-toolbar>
  <mat-toolbar-row>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Ford_logo_flat.svg/2560px-Ford_logo_flat.svg.png"
    />
    <h1>LHM Bronco Sport Tracker</h1>
    <div class="horizontal-spacer"></div>
    <ng-container *ngIf="!smallLayout">
      <a
        mat-button
        href="https://shop.ford.com/vehicleordertracking#/"
        target="_blank"
        >Ford Order Tracker</a
      >
      <a
        mat-button
        href="https://www.lhmforddraper.com/all-inventory/index.htm?compositeType=new&year=2021&make=Ford&model=Bronco%20Sport&bodyStyle=4x4%20*Ltd%20Avail*%20I4%20Engine"
        target="_blank"
        >LHM Inventory</a
      >
      <a
        mat-button
        href="https://express.lhmforddraper.com/inventory?deal_type=lease&deal_down=2500&f=submodel%3ABronco%20Sport&f=trim%3ABadlands"
        target="_blank"
      >
        LHM Express
      </a>
    </ng-container>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="smallLayout">
    <a
      mat-button
      href="https://shop.ford.com/vehicleordertracking#/"
      target="_blank"
      >Ford Order Tracker</a
    >
    <a
      mat-button
      href="https://www.lhmforddraper.com/all-inventory/index.htm?compositeType=new&year=2021&make=Ford&model=Bronco%20Sport&bodyStyle=4x4%20*Ltd%20Avail*%20I4%20Engine"
      target="_blank"
      >LHM Inventory</a
    >
    <a
      mat-button
      href="https://express.lhmforddraper.com/inventory?deal_type=lease&deal_down=2500&f=submodel%3ABronco%20Sport&f=trim%3ABadlands"
      target="_blank"
    >
      LHM Express
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Bronco Sport">
    <app-vehicle-section
      *ngFor="let sport of sports"
      [vehicle]="sport"
    ></app-vehicle-section>
  </mat-tab>
  <mat-tab label="Bronco">
    <app-vehicle-section
      *ngFor="let bronco of broncos"
      [vehicle]="bronco"
    ></app-vehicle-section>
  </mat-tab>
</mat-tab-group>
